<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="icon"
      type="image/png"
      href="../static/goat.png">

    <style>
      body {
        background-image: url("../static/restaurant_icons/restaurant_icons.png");
        background-color: #cccccc;
      }
      .textboxid {
        width:300px;
        font-size:14pt;
      }
      #button {
        font-size:14pt;
      }
      .center {
        margin-top: 15%;
      }
      .bg-custom-2 {
        background-image: linear-gradient(15deg, #55AA79 0%, #BFD3C1 100%);
      }
      .hidden {
        display: none;
      }
      .navbar-custom {
        color: #FFFFFF;
        background-color: #5DAF7F;
      }
    </style>
  </head>

  <body>
    <title>NaviGoat</title>

    <nav class="navbar navbar-expand-md navbar-dark navbar-custom navbar-fixed-top bg-custom-2">

      <div class="mr-auto order-0">
        <a class="navbar-brand mr-auto" href="/">NaviGoat</a>
          <form action="/" method="get">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button> -->
          </form>
      </div>
      <!-- <form action="/search" method="get">
        <input id="textboxid" type="text" name="search" placeholder="Search for locations!">
        <button id="button" type="submit">Search</button>
      </form> -->
    </nav>

    <div class="center">
      <h1 class="display-1"><center>NaviGoat</center></h1>

      <form action="/search" method="get"><center>
        <input class="textboxid" type="text" name="search" placeholder="Where do you want to go?">
        <input class="textboxid" type="text" name="location" placeholder="Near what location?">
        <input class='hidden' id="latitude" name="latitude">
        <input class='hidden' id="longitude" name="longitude">
        <button id="button" type="submit">Search</button>
      </center></form>

    </div>

    <script>
      var x = document.getElementById("demo");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position){
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
          });
        }
        else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, user_pos) {
        infoWindow.setPosition(user_pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      getLocation();

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
